/* Block About
-------------------------------------------------------------------------------*/
// .about {
//   padding-top: 149px;
//   padding-bottom: 151px;

//   @media (max-width: 991px) {
//     padding: 100px 0;
//   }

//   &__content {
//     // border: 1px solid green;
//     // position: absolute;
//     height: 700px;
//     @media (max-width: 1191px) {
//       height: inherit;
//     }
//   }

//   &__img {
//     img {
//       @media (max-width: 1191px) {
//         margin: 0 auto;
//         margin-bottom: 15px;
//         // width: 80%;
//         // height: 80%;
//       }
//     }
//   }
// }

// .aboutUs {
//   max-width: 652px;
//   position: relative;
//   left: 42.9%;
//   bottom: 650px;
//   overflow: hidden;
//   padding: 89px 83px 100px 83px;
//   box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
//   background-color: #ffffff;
//   margin-top: 20px;
//   border-bottom-style: solid;
//   border-image-width: 15px;
//   border-image: url("../img/line.png");
//   border-image-slice: 5;
//   @media (max-width: 1191px) {
//     position: inherit;
//     margin: 0 auto;
//     max-width: 555px;
//     padding: 50px 40px 50px 40px;
//   }
// }

/* Float */
.about {
  padding-top: 149px;
  padding-bottom: 151px;

  &__content {
    @extend %clear_a;
  }

  &__img {
    float: left;
  }
  .aboutUs {
    float: right;
    padding: 89px 83px 100px 83px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    overflow: hidden;
    border-bottom-style: solid;
    border-image-width: 15px;
    border-image: url("../img/line.png");
    border-image-slice: 5;
    max-width: 652px;
    margin-top: -635px;
  }
}

/* Inline-block */

.about {
  padding-top: 149px;
  padding-bottom: 151px;

  &__content-ib {
    font-size: 0;
    letter-spacing: -1px;
    // border: 1px solid green;
  }

  &__wrapper-ib {
    font-size: initial;
    letter-spacing: initial;
    display: inline-block;
    width: 50%;
    // border: 1px solid red;
    vertical-align: middle;
  }

  &__img-ib {
  }
  .aboutUs-ib {
    padding: 89px 83px 100px 83px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    overflow: hidden;
    border-bottom-style: solid;
    border-image-width: 15px;
    border-image: url("../img/line.png");
    border-image-slice: 5;
    margin-left: -100px;
    // border: 1px solid red;
  }
}

/* Flex */

.about {
  .about__content-fb {
    display: flex;
  }
  .about__wrapper-fb {
    // order: 1;
  }
  .aboutUs-fb {
    flex: none;
    max-width: 680px;
    order: 0;
    padding: 89px 83px 100px 83px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    overflow: hidden;
    border-bottom-style: solid;
    border-image-width: 15px;
    border-image: url("../img/line.png");
    border-image-slice: 5;
    margin-left: -90px;
    align-self: center;

    .title.title__uboutUs {
    }
    .subtitle.subtitle__aboutUs {
    }
    p {
    }
  }
  .about__img-fb {
    // flex: none;

    img {
    }
  }
}

/* Table */

.about {
  &__content-dt {
    display: table;
  }

  &__img-dt {
    display: table-cell;
  }

  .about__wrapp {
    display: table-cell;
    border: 1px solid red;
  }

  .aboutUs-dt {
    padding: 89px 83px 100px 83px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    overflow: hidden;
    border-bottom-style: solid;
    border-image-width: 15px;
    border-image: url("../img/line.png");
    border-image-slice: 5;
    max-width: 680px;
  }
  img {
  }
  .title.title__uboutUs {
  }
  .subtitle.subtitle__aboutUs {
    p {
    }
  }
}

/*end block about*/
