/* Settings modal window "Login" */

.uk-modal-dialog {
  padding: 38px 39px 49px;
  width: 350px;
}

.uk-modal-close-outside {
  top: 30px;
  right: -10px;
  svg {
    width: 21px;
    height: 21px;
  }
}

.modal-title-login {
  color: #000000;
  font-family: $main_font_family;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 35px;
  display: inline-block;
}

.uk-input-login {
  font-size: 18px;
  padding: 24px 5px 23px 20px;
  line-height: 1;
  color: #969696;
  box-shadow: inset 1px 1px 3px rgba(21, 38, 53, 0.82);
  background-color: #ffffff;
  margin-bottom: 0;
}

.uk-input-password {
  font-size: 18px;
  padding: 24px 5px 19px 20px;
  line-height: 1;
  color: #969696;
  box-shadow: inset 1px 1px 3px rgba(21, 38, 53, 0.82);
  background-color: #ffffff;
  margin-bottom: 0;
}

.uk-button-login {
  width: 100%;
  padding: 23px 0px;
  color: #ffffff;
  font-family: "PT Sans - Caption";
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  box-shadow: 1px 2px 5px rgba(0, 36, 69, 0.35), inset -1px -1px 0 rgba(154, 0, 7, 0.82);
  background-color: #d30531;
  margin-bottom: 42px;
}

.forgot-password {
  margin-bottom: 34px;
  
  &__link {
    text-decoration: none;
    &:hover{
      text-decoration: none;
      border-bottom: 1px dotted #0777ba;
    }
  }
}

.registration{
  
   &__link {
    text-decoration: none;
    &:hover{
      text-decoration: none;
      border-bottom: 1px dotted #0777ba;
    }
  }
}