/* Navbar */

.header-top {
  position: fixed;
  width: 100%;
}

.uk-navbar {
  padding: 15px 20px;
}

/* Button Login */

.login {
  padding: 0;
  line-height: 1;
  padding: 11px 24px 14px;
  border: 2px solid #0777ba;
  color: #0777ba;
  background-color: #fff;
  font-size: 15px;
  font-weight: 400;
  &:hover {
    color: #fff;
    background-color: #0777ba;
  }
}

/* Dropdown Help */
.help {
  margin: 0;
  color: #0777ba;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  cursor: pointer;
  position: relative;
}
// body dropdown

.uk-dropdown {
  padding: 5px 4px;
  &-nav > li > a {
    color: #0777ba;
    padding: 13px 0px 12px 16px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    text-decoration: underline;
    &:hover{
      background: #e6ecf1;
      border-radius: 1px;
      color: #0777ba;
    }
  }
}


.dropdown-help {
  box-shadow: 0 -4px 5px 0 rgba(70, 79, 87, 0.1);
  background-color: #ffffff;

  &__link {
    color: #0777ba;
  } 
// 
  &:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    bottom: 130px;
    left: 80%;
  }
}