/* Block our-blog -----------------------------------------------------------------------------*/

.our-blog {
  padding-top: 147px;
  padding-bottom: 149px;
  background-color: #f7f7f7;
}

.our-blog__wrapper {
  display: flex;
  justify-content: space-between;
}

.blog-foto {
}

.post {
  max-width: 555px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  padding: 33px 51px 22px 38px;
  
  &__header {
    display: flex;
    max-width: 280px;
    &_foto {
      margin-top: -50px;
      margin-left: 51px;
    }
  }

  &_red {
    padding-top: 38px;
    padding-left: 51px;
    border-bottom: 3px solid #fc5f45;
  }
  &_green{
    border-bottom: 3px solid #38c695;
    margin-bottom: 23px;
  }
  &_violet{
    border-bottom: 3px solid #b27cf5;
    margin-bottom: 23px;
  }
  &_orange{
    border-bottom: 3px solid #feb960;;
  }

  &__author {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 20px;
    margin-bottom: 15px;
    &_red {
      color: #fc5f45;
    }
    &_green {
      color: #38c695;
    }
    &_violet {
      color: #b27cf5;
    }
    &_orange {
      color: #feb960;
    }
  }

  &__date {
    color: #616161;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    &_color-white {
      color: #ffffff;
      font-family: Poppins;
    }
  }

  &__title {
    color: #272727;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    &_big-text {
      font-size: 20px;
      line-height: 35px;
      margin-bottom: 15px;
    }
  }

  &__text {
    color: #616161;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    
  }

  &__link {
    text-decoration: none;
    cursor: pointer;
    font-family: "Poppins-Medium";
    font-weight: 500;
    &_red{
      color: #272727;
    }
    &_green{
      color: #38c695;
    }
    &_violet{
      color: #b27cf5;
    }
    &_orange{
      color: #feb960;
    }
  }
}
