/* Block Pricing
-------------------------------------------------------------------------------*/
.pricing {
  padding-top: 146px;
  padding-bottom: 150px;
  background: #f7f7f7;
}
.packages {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 35px 30px 37px;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  text-align: center;
  margin: 0 15px;
  &:first-child{
    margin-left: 0;
  }
  &:last-child{
    margin-right: 0;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__starter {
    border-top: 3px solid #38c695;
  }
  &__ultimate {
    border-top: 3px solid #fc5f45;
  }
  &__professional {
    border-top: 3px solid #b27cf5;
  }

  &__title {
    color: #313131;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 32px;
  }

  &-price {
    width: 106px;
    height: 106px;
    color: #ffffff;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    padding-top: 27px;
    margin-bottom: 29px;
    &__starter {
      background: #38c695;
      border-radius: 50%;
      border: 3px solid #ffffff;
      box-shadow: 0 0 0 3px #38c695;
    }
    &__ultimate {
      background: #fc5f45;
      border-radius: 50%;
      border: 3px solid #ffffff;
      box-shadow: 0 0 0 3px #fc5f45;
    }
    &__professional {
      background: #b27cf5;
      border-radius: 50%;
      border: 3px solid #ffffff;
      box-shadow: 0 0 0 3px #b27cf5;
    }
  }

  &__price-title {
    display: inline-block;
    font-size: 25px;
  }

  &__decription {
    color: #616161;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 40px;
  }
}

.text-first {
  color: #0c0c0c;
  font-weight: 500;
}
.icon-check-solid {
  display: inline-block;
  color: #272727;
  font-weight: bold;
  font-size: 15px;
  margin-right: 10px;
}
