/* Block Select-us -----------------------------------------------------------------------------*/

.select-us {
  padding-top: 145px;
  padding-bottom: 150px;
}

.select-us___wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.select-us__item {
  max-width: 311px;
  i {
    font-size: 49px;
  }
  margin-bottom: 72px;
}
.select-us__text {
  color: #616161;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 26.93px;
  margin-top: 25px;
}

.icon-bussines-growth {
  color: #fc5f45;
}
.icon-unlimited-revisions {
  color: #38c695;
}
.icon-ultimate-perfection {
  color: #b27cf5;
}

.icon-smart-experience {
  color: #feb960;
}

.icon-strict-deadline {
  color: #fc5f45;
}

.icon-award-company {
  color: #38c695;
}

.call {
  margin-top: 79px;
  text-align: center;
  &__text {
    display: inline-block;
    margin-right: 23px;
    color: #272727;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 400;
    line-height: 26px;
  }
}
