/* Title Servise */

.services {
  padding: 54px 0 71px 0;

  &__block {
    // border: 1px solid red;
    text-align: center;
    margin: 0 auto;
    max-width: 612px;
    margin-bottom: 52px;
  }

  &__title {
    font-family: $main_font_family;
    color: #231f20;
    font-size: 36px;
    line-height: 1;
  }

  &__item {
    display: inline;
    margin-right: 26px;
  }

  &__link {
    color: #0777ba;
    // font-family: "PT Sans - Caption";
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    &:hover {
      border-bottom: 1px dotted #0777ba;
      text-decoration: none;
    }
    &_black {
      color: #000000;
      line-height: 33px;
      font-size: 18px;

      &:hover {
        text-decoration: none;
        color: #000000;
      }
    }
  }
}

.fine {
  display: flex;
  // font-size: 0;
  // letter-spacing: -1px;
  // margin-left: -px; //отступы между плитками

  &__wrapper {
    // font-size: initial;
    // letter-spacing: initial;
    // display: inline-block;
    // width: 50%; //количество колонок
    // padding-left: px; //отступы между плитками
    .subtitle-block {
      text-transform: uppercase;
      color: red;
    }
    .title-block {
    }
    .text-block {
      max-width: 650px;
      margin-right: 10px;
    }
    .duty__link {
      &:hover {
      }
      &:active {
      }
      &:focus {
      }
    }
    .fine__link {
      &:hover {
      }
      &:active {
      }
      &:focus {
      }
    }
    p {
    }
  }
  &__img {
    background-blend-mode: multiply;
    background: url(/img/img-block-1.webp) no-repeat;
    background-color: rgba(0, 70, 133, 0.51);
    width: 310px;
    overflow: hidden;
    // height: 250px;
    img {
    }
  }
}
#duty.duty {
}
