/* Block Stats
-------------------------------------------------------------------------------*/
.stats {
  background-image: url("../img/bg_2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 147px;
  padding-bottom: 127px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:first-child {
      margin-left: 58px;
    }

    &:last-child {
      margin-right: 65px;
    }
  }
}



.icon-stat-box,
.icon-stat-client,
.icon-stat-graff,
.icon-stat-head {
  font-size: 51px;
  margin-bottom: 31px;
}

.icon-stat-graff {
  color: #fc5f45;
}

.icon-stat-client {
  color: #38c695;
}

.icon-stat-head {
  color: #b27cf5;
}

.icon-stat-box {
  color: #feb960;
}

.icon-stat-punkt {
  font-size: 15px;

  &.red {
    color: #fc5f45;
  }

  &.green {
    color: #38c695;
  }

  &.violet {
    color: #b27cf5;
  }

  &.yellou {
    color: #feb960;
  }
}
