/* Block subscribe -----------------------------------------------------------------------------*/

.subscribe {
  padding: 149px 0;
  text-align: center;
  &__title {
    color: #272727;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
    line-height: 85px;
  }
  &__form {
    display: flex;
    justify-content: center;
    
    
    .form-email {
      border-radius: 25px 0 0 25px;
      border: 2px solid #efefef;
      background-color: #f7f7f7;
      max-width: 300px;
      border-right: #f7f7f7;
      &__input {
        border: none;
        color: #616161;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 300;
        margin-top: 9px;
        margin-left: 29px;
        width: 260px;
        background-color: #f7f7f7;
        
      }
      &__button {
        padding: 13px 20px 13px 31px;
        border-radius: 0 25px 25px 0;
        background-color: #fc5f45;
        color: #ffffff;
        font-family: "Poppins-SemiBold";
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        cursor: pointer;
        border: none;
        &:hover {
        }
        &:active {
        }
        &:focus {
        }
      }
    }
  }
}
