/* Block team
-------------------------------------------------------------------------------*/

.team-members {
  background-color: #f7f7f7;
  padding-top: 119px;
  padding-bottom: 130px;
}
.single-member {
  display: flex;
  cursor: pointer;

  &__title {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    margin-top: 17px;
    margin-bottom: 8px;
  }
  &__subtitle {
    color: #616161;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
  }
  &__item {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    margin-right: 30px;
    text-align: center;
    padding-bottom: 19px;

    &.schmitt {
      border-bottom: 3px solid #fc5f45;
      .single-member__title {
        color: #fc5f45;
      }
    }

    &.krammer {
      border-bottom: 3px solid #38c695;
      .single-member__title {
        color: #38c695;
      }
    }
    &.schroder {
      border-bottom: 3px solid #b27cf5;
      .single-member__title {
        color: #b27cf5;
      }
    }
    &.teichmann {
      border-bottom: 3px solid #feb960;
      margin-right: 0px;
      .single-member__title {
        color: #feb960;
      }
    }
  }
}

.tab_link {
  text-decoration: none;
}

.member-details {
  display: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  margin-top: 50px;
  padding: 70px 105px 76px 97px;
  position: relative;

  &.schmitt {
    &:before {
      content: "";
      position: absolute;
      border: 40px solid transparent;
      border-left-width: 30px;
      border-right-width: 30px;
      border-bottom-color: #ffffff;
      bottom: 100%;
      left: 8%;
      z-index: 100;
    }
  }
  &.krammer {
    &:before {
      content: "";
      position: absolute;
      border: 40px solid transparent;
      border-left-width: 30px;
      border-right-width: 30px;
      border-bottom-color: #ffffff;
      bottom: 100%;
      left: 34%;
      z-index: 100;
    }
  }
  &.schroder {
    &:before {
      content: "";
      position: absolute;
      border: 40px solid transparent;
      border-left-width: 30px;
      border-right-width: 30px;
      border-bottom-color: #ffffff;
      bottom: 100%;
      left: 60%;
      z-index: 100;
    }
  }
  &.teichmann {
    &:before {
      content: "";
      position: absolute;
      border: 40px solid transparent;
      border-left-width: 30px;
      border-right-width: 30px;
      border-bottom-color: #ffffff;
      bottom: 100%;
      left: 86%;
      z-index: 100;
    }
  }
  

  &.activ {
    display: block;
  }

  &__title {
    color: #272727;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 22px;
  }

  &__block {
    display: flex;
    align-items: center;
  }

  &__text {
    color: #616161;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    margin-right: 100px;
  }

  .icon-team-share {
    font-size: 36px;
    margin-right: 22px;
    border-right: 2px solid #efefef;
    color: #fc5f45;
    padding-right: 34px;
    padding-top: 62px;
    padding-bottom: 60px;
  }

  &__soc {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    height: 114px;
    justify-content: space-between;

    a {
      display: block;
      color: #616161;
      font-family: Poppins;
      font-size: 15px;
      font-weight: 400;
      text-decoration: none;
      cursor: pointer;
      &:first-child {
        margin-top: 4px;
      }
      &:hover {
      }
    }

    .icon-facebook {
      font-size: 15px;
      margin-right: 7px;
    }

    .icon-twitter {
      font-size: 15px;
      margin-right: 6px;
    }

    .icon-linkidin {
      font-size: 15px;
      margin-right: 6px;
    }

    .icon-instagram {
      font-size: 15px;
      margin-right: 6px;
    }
  }
}

/*end team*/
