/* Основные настройки сайта
-------------------------------------------------------------------------------*/
body {
  max-width: 100%;
  // min-width: 300px;
  
}
.main{
  max-width: 1280px;
  margin: 0 auto;  
}

.container_center{
  max-width: 990px;
  margin: 0 auto; 
  padding-left: 15px;
  padding-right: 15px; 
}
