/* Основные настройки сайта
-------------------------------------------------------------------------------*/
body {
  max-width: $container_width;
  // min-width: 300px;
}

.container_center {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

