/* Block Video
-------------------------------------------------------------------------------*/
.video {
	background-color: rgba(38, 39, 50, 0.85);
	text-align: center;
	padding-top: 143px;
	padding-bottom: 149px;

}

.icon-video-play {
	display: block;
	font-size: 80px;
	color: #38c695;
	margin: 33px 0px 41px 0px;
}

/*end block video*/
