/* Block Work
-------------------------------------------------------------------------------*/
.work {
  padding-top: 138px;
  padding-bottom: 150px;
}

.steps {
  position: relative;
  img {
    margin: 0 auto;
    max-width: 50%;
  }
  &__row {
    display: flex;
    max-width: 458px;
    position: absolute;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    padding: 41px 60px 53px 38px;
    margin-top: -51px;
  }

  &__row_inverse {
    max-width: 458px;
    position: absolute;
    right: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
  }

  &__number {
    color: #e0e0e0;
    font-family: "Libre Baskerville";
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
  }
  &__content {
  }
  &__text {
    color: #616161;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
  }

  &__number-wrapper {
    padding: 0 24px 43px 0;
    // border: 1px solid red;
    height: 84px;
    // width: 84px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 81px;
      border-bottom: 1px solid #e0e0e0;
      width: 115px;
      transform: rotate(-45deg);
      transform-origin: 0% 0%;
      left: 12px;
    }
    &.one:before {
      left: 0;
    }
  }
}

.line_red {
  border-bottom: 3px solid #fc5f45;
}
.line_green {
  border-bottom: 3px solid #38c695;
}
.line_violet {
  border-bottom: 3px solid #b27cf5;
}
.line_yellou {
  border-bottom: 3px solid #feb960;
}
