@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.eot');
    src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.ttf') format('truetype'),
        url('../fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype'),
        url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/LibreBaskerville-Bold.eot');
    src: url('../fonts/LibreBaskerville-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LibreBaskerville-Bold.woff2') format('woff2'),
        url('../fonts/LibreBaskerville-Bold.woff') format('woff'),
        url('../fonts/LibreBaskerville-Bold.ttf') format('truetype'),
        url('../fonts/LibreBaskerville-Bold.svg#LibreBaskerville-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/LibreBaskerville-Italic.eot');
    src: url('../fonts/LibreBaskerville-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LibreBaskerville-Italic.woff2') format('woff2'),
        url('../fonts/LibreBaskerville-Italic.woff') format('woff'),
        url('../fonts/LibreBaskerville-Italic.ttf') format('truetype'),
        url('../fonts/LibreBaskerville-Italic.svg#LibreBaskerville-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sacramento';
    src: url('../fonts/Sacramento-Regular.eot');
    src: url('../fonts/Sacramento-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sacramento-Regular.woff2') format('woff2'),
        url('../fonts/Sacramento-Regular.woff') format('woff'),
        url('../fonts/Sacramento-Regular.ttf') format('truetype'),
        url('../fonts/Sacramento-Regular.svg#Sacramento-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.eot');
    src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('../fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/LibreBaskerville-Regular.eot');
    src: url('../fonts/LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LibreBaskerville-Regular.woff2') format('woff2'),
        url('../fonts/LibreBaskerville-Regular.woff') format('woff'),
        url('../fonts/LibreBaskerville-Regular.ttf') format('truetype'),
        url('../fonts/LibreBaskerville-Regular.svg#LibreBaskerville-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sacramento';
    src: url('../fonts/Sacramento-Regular.eot');
    src: url('../fonts/Sacramento-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sacramento-Regular.woff2') format('woff2'),
        url('../fonts/Sacramento-Regular.woff') format('woff'),
        url('../fonts/Sacramento-Regular.ttf') format('truetype'),
        url('../fonts/Sacramento-Regular.svg#Sacramento-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Wisdom Script';
    src: url('../fonts/Wisdom-Script.eot');
    src: url('../fonts/Wisdom-Script.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Wisdom-Script.woff2') format('woff2'),
        url('../fonts/Wisdom-Script.woff') format('woff'),
        url('../fonts/Wisdom-Script.ttf') format('truetype'),
        url('../fonts/Wisdom-Script.svg#Wisdom-Script') format('svg');
    font-weight: normal;
    font-style: normal;
}

